#SvgjsG1138 text {
  color: white !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  fill: white !important;
}

.apexcharts-legend {
  padding-top: 20px !important;
  gap: 16px !important;
}

#SvgjsG1162 text {
  font-size: 14px !important;
  font-weight: 400 !important;
  fill: white !important;
}

.apexcharts-legend-text {
  color: white !important;
}

.apexcharts-legend .apexcharts-legend-series:nth-child(1) .apexcharts-legend-text {
  color: #FF5733 !important;
}

.apexcharts-legend .apexcharts-legend-series:nth-child(2) .apexcharts-legend-text {
  color: #3339FF !important;
}
